body{background: url(https://abduzeedo.com/sites/default/files/styles/home_cover/public/originals/1280x720.jpg?itok=YUy8syWj);background-repeat: no-repeat; background-size: 2000px;}
.setup{width: 400px;}
h1{display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
    