.bubbles{display:block ; margin-left:auto ; margin-right:auto ; width:35% ;}
body{background:url(https://abduzeedo.com/sites/default/files/styles/home_cover/public/originals/1280x720.jpg?itok=YUy8syWj); background-repeat: no-repeat; background-size: 2000px;}
.scratch{display: block; margin-left:520px; margin-right:block ; margin-top: -600px ; width:25%;}
h1{color: white;text-align: center;}